apiVersion: v1
kind: Service
metadata:
  name: complaint-service
  namespace: civiceye
  labels:
    app: complaint-service
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: http
  selector:
    app: complaint-service
