apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: civiceye
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
  - port: 8084
    targetPort: 8084
    protocol: TCP
    name: http
  selector:
    app: notification-service
