apiVersion: v1
kind: Service
metadata:
  name: media-service
  namespace: civiceye
  labels:
    app: media-service
spec:
  type: ClusterIP
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
    name: http
  selector:
    app: media-service
